<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sui.css">
    <script src="./sui.js"></script>
    <title> Groups </title>
</head>

<body variant="light">

    <layout>
        <navbar>
            <brand> Lession Materials </brand>
        </navbar>

        <content >
            <aside vertical background="">
                <a href="#">
                    <icon name="collection"></icon>
                    Node.js 146
                </a>
            </aside>
            <main padding="30px">
                
            </main>
        </content>
    </layout>
</body>
</html>